.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 20px;;
}

.card--img {
    width: 90%;
    border-radius:20px;
    border: 2px solid var(--Dark-gray-3, #252525);
}

.card--block {
    display: flex;
    padding-left:10px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    border: 2px solid var(--Dark-gray-3, #252525);
    background: linear-gradient(180deg, #EED204 0%, #FFFF6D 100%);
    width:85%;
}

.card--title {
    color: var(--Dark-gray-3, #252525);
    font-family: "Hammersmith One";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 23px;
    margin-bottom:0px;
}

.card--text {
    width: 70ù;
    max-width: 271px;
    color: var(--Dark-gray-3, #252525);
    font-family: Fredoka;
    font-size: 16px;
    font-weight: 400px;
    line-height: normal;
    margin-top:10px;
    margin-bottom:23px;
}