.header {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.header--img {
    width:100%;
    height:auto;
    flex-shrink:0;
}

.header--title {
    color: var(--Light-gray-2, #EEE);
    -webkit-text-stroke:2px black;
    font-family: "Hammersmith One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-top: 50%;
    margin-left: 15%;
    margin-bottom: 30px;
    margin-right: 45px;
}